/*Elroy styles*/
.hmp_black {color: rgba(18,33,33,1.00)}
.hmp_blue {color: rgba(113,217,254,1.00)}
.hmp_blue_bg {background: rgba(113,217,254,1.00); color: rgba(255,254,254,1.00)}
.hmp_orange {color: rgba(241,102,65,1.00)}
.hmp_orange_bg {background: rgba(241,102,65,1.00); color: rgba(18,33,33,1.00)}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}


/***** WIDE STORY ********/
#story_wdg_wide a .wdg-container .wdg-overlay .read-more {justify-content: center}
#story_wdg_wide{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition:ease .25s all;transition:ease .25s all;flex-wrap:nowrap;padding: 0;}
#story_wdg_wide a{width:100%;margin:0;}
#story_wdg_wide a .wdg-container{background-size:cover;background-position:center;background-repeat:no-repeat;width:100%;position:relative; min-height:425px}
#story_wdg_wide a .wdg-container .color-overlay{position:absolute;width:100%;height:100%;top:0;left:0;background-color:#F26640;opacity:0;z-index:9}
#story_wdg_wide a .wdg-container .wdg-overlay{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transition:ease .25s all;transition:ease .25s all;color:#fff;width:70%;text-align:center;z-index:10}
#story_wdg_wide a .wdg-container .wdg-overlay h2{position:relative;top:0;color:#fff}
#story_wdg_wide a .wdg-container .wdg-overlay p{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);color:#fff;width:100%;opacity:0}
#story_wdg_wide a .wdg-container .wdg-overlay span{position:relative;top:0;color:#fff}
#story_wdg_wide a .wdg-container:hover{cursor:pointer}
#story_wdg_wide a .wdg-container:hover .wdg-overlay h2{text-decoration:none;}
#story_wdg_wide a .wdg-container:hover .wdg-overlay p{text-decoration:none}
#story_wdg_wide a .wdg-container:hover .wdg-overlay a{text-decoration:none}

/** Lee Add to your css, but include border radius top **/
.dimmedcurve{position:relative}.dimmedcurve:before{content:' ';border-top-left-radius: 50% 15px;border-top-right-radius: 50% 15px;position:absolute;top:0;left:0;width:100%;height:100%;background-image:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3))}

/** OTHER **/
.curve, .curve_btm {
	height: 15px;
	width: 100%;
    border-top-left-radius: 50% 15px ;
    border-top-right-radius: 50% 15px ;    
    margin: 0 auto;
    display: block;
}

.addcurve, .addcurveminus {
	border-top-left-radius: 50% 15px ;
    border-top-right-radius: 50% 15px ; 
}

.addcurveminus {margin-top: -15px}

.curveshadow {
	-moz-box-shadow:    inset 0 8px 15px -10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 8px 15px -10px rgba(0, 0, 0, 0.5);
	box-shadow:         inset 0 8px 15px -10px rgba(0, 0, 0, 0.5);}

.curve_btm {position:absolute; bottom: 0px}

.main-footer {}
main-footer > .ul {list-style-type: none;}


/*** FOOT SECTION 01 - NEWS START***/
.news { background-repeat: no-repeat; background-position: center; background-size: cover;}
.overcontent {position: relative}

.desaturate {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.desaturate:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
   /*grayscale for background image*/
  -webkit-filter: grayscale(1); 
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
  filter: gray; 
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}


.slide-content {padding: 1em;}
.slide-content img { width: 100%}
.slide-content-img {}
.slide-content a {text-decoration: none;}
.slide-content a h3 {color: rgba(241,102,65,1.00); min-height: 100px}
.slide-content a p{color: rgba(18,33,33,1.00); min-height: 130px}
.hmp_black span {color: rgba(18,33,33,1.00); font-weight: 400}


/*** FOOT SECTION 01 - NEWS END ***/

/*** FOOT SECTION 02 - SITEMAP START***/
.sitemap {color: #ffffff}
.sitemap ul { padding-left: 0px;}
.sitemap ul li {font-size: 0.875em}
.sitemap ul li a {color: rgba(255,255,255,1.00)}
.sitemap ul li a:hover {color: rgba(241,102,65,1.00)}

/*** FOOT SECTION 02 - SITEMAP END ***/

/*** FOOT SECTION 03 - SOCIAL START***/
/*** Social Media icons ***/
div.social ul {margin:0; padding:0; list-style:none}
div.social ul li {display:inline-block; font-size:1.5rem; margin:0 0.2rem}
div.social ul li a {color: rgba(18,33,33,1.00)}
div.social ul li a span.hidden {display:none}
div.social ul li a:hover {color: rgba(241,102,65,1.00)}

/*** FOOT SECTION 03 - SOCIAL END ***/

/*** FOOT SECTION 04 - LEGALS START***/
.legals ul li {display:inline-block; font-size: 0.875em} 
.legals ul li a {color: rgba(18,33,33,1.00)}
.legals p {font-size: 0.875em}

/*** FOOT SECTION 04 - LEGALS END ***/



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  flex: 1;
  margin-top: 10px;
  text-align: center;
}
.flex-item ul { list-style: none}


.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

/*** CONTACT FORM - START ***/
.contactform button, .contactform input, .contactform optgroup, .contactform select, .contactform textarea, .contactform email { 
	background-color:#F5F6F6;border: none; padding: 10px; width: 100%;}
.wpcf7-form-control-wrap {color: blue;}


/*** CONTACT FORM - END ***/


/*end*/