#contact-details-text-block {
	padding: 0;
	width: 75vw;
	.icon-text {
		@include flexbox();
		align-items: center;
		margin: 0 0 2vh;
	}
	.icon-text#email_address {
		.icon {
			@include bg_img_contain();
			background-image: url('../images/email-icon-blue.png');
			height: 4vh;
			width: 4vw;
		}
		a {

		}
	}
	.icon-text#phone_number {
		.icon {
			@include bg_img_contain();
			background-image: url('../images/phone-icon.png');
			height: 6vh;
			width: 4vw;
		}
		a {

		}
	}
}