#contact-details-text-block, .agent-contact-details {
	padding: 0;
	.icon-text {
		@include flexbox();
		align-items: center;
		margin: 0 0 2vh;
	}
	.icon-text#email_address {
		.icon {
			@include bg_img_contain();
			background-image: url('../images/icon-email.png');
			height: 5vh;
			width: 3vw;
			margin: 0 1vw 0 0;
			background-position: left;
		}
		a {

		}
	}
	.icon-text#phone_number {
		.icon {
			@include bg_img_contain();
			background-image: url('../images/icon-phone.png');
			height: 5vh;
			width: 3vw;
			background-position: left;
			margin: 0 1vw 0 0;
		}
		a {

		}
	}
	.icon-text#website {
		.icon {
			@include bg_img_contain();
			background-image: url('../images/icon-computer.png');
			height: 5vh;
			width: 3vw;
			margin: 0 1vw 0 0;
			background-position: left;
		}
		a {

		}
	}
}

.agent-contact {
	.agent-contact-header {
		@include flexbox();
		margin: 6vh 0 2vh;
		align-items: center;
		width: 100%;
		.icon {
			background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
		    width: 100%;
		    height: 5vh;
		    width: 4vw;
		    background-position: center left;
		}
		h3 {
			margin: 0;
		}
	}
	.agent-contact-details {
		p {
			margin: 0 0 4vh;
		}
	}
}

.agents-block {
	@include flexbox();
	margin: 4vh 0 0 0;
	.agent-contact {
		@include flexbox();
		width: 50%;
		align-items: center;
		margin: 0 0 2vh;
		.agent-contact-info {
			width: 90%;
		}
		.agent-contact-logo {
			width: 100%;
			.agent-logo{
				@include bg_img_contain();
				padding-top: 30%;
			    width: 30%;
			    margin: 0;
			    background-position: bottom;
			}
		}
	}
}


@include respond-below(xs) {
	#contact-details-text-block, .agent-contact-details {

		.icon-text {
			margin: 0;
		}
		.icon-text#email_address {
			.icon {
				height: 6vh;
			    width: 8vw;
				margin: 0 2vw 0 0;
			}
			a {

			}
		}
		.icon-text#phone_number {
			.icon {
				height: 6vh;
			    width: 8vw;
				margin: 0 2vw 0 0;
			}
			a {

			}
		}
		.icon-text#website {
			.icon {
				height: 6vh;
			    width: 8vw;
				margin: 0 2vw 0 0;
			}
			a {

			}
		}
	}

	.agent-contact {
		margin: 0 0 6vh;
		.agent-contact-header {
			align-items: center;
			margin: 4vh 0 1vh;
			.icon {
				height: 5vh;
				width: 10vw;
				background-position: center left;
				margin: 0 2vw 0 0;
			}
			h3 {
			}
		}
		.agent-contact-details {
			p {
			}
		}
	}

	.agents-block {
		flex-wrap: wrap;
		.agent-contact {
			width: 100%;
			.agent-contact-info {
				width: 60%;
				.agent-contact-header {
					margin: 0vh 0 1vh;
				}
			}
			.agent-contact-logo {
				width: 50%;
				.agent-logo{	
					width: auto;
				    padding-top: 80%;
				    margin: 0 0 3vh;
				}
			}
		}
	}
}

@include respond-between(xs, sm) {
	#contact-details-text-block, .agent-contact-details {
		
		.icon-text {
			margin: 0 0 0vh;
		}
		.icon-text#email_address {
			.icon {
				
			}
			a {

			}
		}
		.icon-text#phone_number {
			.icon {
				
			}
			a {

			}
		}
	}

	.agent-contact {
		.agent-contact-header {
			
			.icon {
				height: 5vh;
			    width: 3vw;
			    margin: 0 1vw 0 0;
			}
			h3 {
				
			}
		}
		.agent-contact-details {
			p {
				margin: 0 0 2vh;
			}
		}
	}


	#contact-details-text-block {
		.icon-text {

		}
		.icon-text#email_address {
			.icon {
				margin: 0 1vw 0 0;
			}
			a {

			}
		}
		.icon-text#phone_number {
			.icon {
				margin: 0 1vw 0 0;
			}
			a {

			}
		}
	}
}

@include respond_between(sm, md) {
	.agents-block {
		.agent-contact {
			.agent-contact-info {
				width: 70%;
				.agent-contact-header {
				}
			}
			.agent-contact-logo {
				.agent-logo{	
				}
			}
		}
	}
}