#news-carousel {
	background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
	height: 100%;
	h1 {
		text-align: center;
	}
	.slide-content {
		a {
			h3 {
				margin: 0 0 4vh;
			}
			.slide-thumbnail {
				@include bg_img_cover();
				padding-top: 100%;
				margin: 0 0 3vh;

			}
		}
		.read-more {
			span {
				color: #333;
			}
		}
	}
	.overcontent {
		background-color: rgba(255,255,255,0.9);
	    width: 100%;
	    padding: 0 0 15vh;
	}
}

#news-carousel:before {
	background-color: rgba(255,255,255,0.9);
}

#footer_menus {
	position: relative;
	h2 {
		margin: 0 0 4vh;
	}
}

#top-footer {
}

#middle-footer {
	@include flexbox();
	justify-content: center;
	padding: 3vh 0 4vh;
	background-image: url(../images/Footer_Curve.svg);
	background-color: transparent;
	background-size: 101%;
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
	background-position: bottom;
	.flex-container {
		width: 75vw;
		justify-content: space-between;
		.social-links {
			flex-wrap: wrap;
			a {
				i {
					font-size: 1.75vw;
				}
			}
			p {
				width: 100%;
				text-align: center;
			}
		}
	}
}

#bottom-footer {
	@include flexbox();
	padding: 0;
	position: relative;
	z-index: 1;
	margin-top: -1vw;
	.legal {
		@include flexbox();
		align-items: center;
		width: 35%;
		background-color: #122121;
		color: #fff;
		justify-content: flex-end;
		padding: 2vh 0;
		p {
			width: 61%;
			margin: 0 4% 0 0;
			font-weight: bold;
			color: #fff;
		}
	}
	.privacy {
		@include flexbox();
		width: 35%;
		align-items: center;
		padding: 2vh 0;
		#nav_menu-2 {
			padding: 0;
		    max-width: 100%;
		    align-items: center;
		    ul {
		    	list-style-type: none;
	    	    margin: 0;
	    	    padding: 0;
	    	    display: flex;
	    	    align-items: center;
	    	    li {
	    	    	padding: 0 0 0 3vw;
	    	    	a {
	    	    		font-weight: bold;
	    	    		color: #000;
	    	    	}
	    	    }
		    }
		}
	}
	.copywrite {
		@include flexbox;
		align-items: center;
		padding: 2vh 0;
		p {
			margin: 0;
			font-weight: bold;
			color: #122121;
		}
	}
}

@include respond-below(xs) {
	#news-carousel {
	
		h1 {
			
		}
		.news-carousel {
			width: 90vw;
			margin: auto;
		}
		.container {
			padding: 0;
		}
		.slide-content {
			padding: 0;
			a {
				h3 {
					
				}
				.slide-thumbnail {
					
				}
			}
			.read-more {
				span {
					
				}
			}
		}
		.overcontent {
			padding: 0 0 5vh;
		}
	}

	#news-carousel:before {
		
	}

	#top-footer {
	}

	#middle-footer {
		
		.flex-container {
			justify-content: center;
			#business-hamp-logo {
				order: 1;
				width: auto;
				margin: 0 0 5vh;
			}
			#hamp-cc-logo {
				order: 2;
			    width: auto;
			    margin: 0 0 5vh;
			}
			.social-links {
				order: 3;
			    width: 90vw;
				a {
					i {
						font-size: 8vw;
					    margin: 0 5vw;
					}
				}
				p {
					
				}
			}
		}
	}

	#bottom-footer {
	}
}