#news-carousel {
	background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
	height: 100%;
	h1 {
		margin: 6vh 0 4vh;
		text-align: center;
	}
	.slide-content {
		a {
			.news-carousel-title{
				margin: 0 0 4vh;
				@include flexbox();
				align-items: flex-end;
				h3 {
				}
			}
			.slide-thumbnail {
				@include bg_img_cover();
				margin: 0 0 3vh;
				position: relative;
			}
		}
		.read-more {
			span {
				color: #404D4D;
				@include ease(all,0.25s);
			}
		}
		.read-more:hover {
			span {
			    color: #F26640;
			}
		}
	}
	.slide-content:hover {
		.read-more {
			span {
			    color: #F26640;
			}
		}
	}
	.overcontent {
		background-color: rgba(255,255,255,0.9);
	    width: 100%;
	    padding: 0 0 15vh;
	}
}

#news-carousel:before {
	background-color: rgba(255,255,255,0.9);
}

#footer_menus {
	position: relative;
	h2 {
		margin: 0 0 4vh;
	}
	.container-width {
		margin: auto;
	}
}

#top-footer {
	li:hover {
		a {
			color: #F26640;
		}
	}
}

#middle-footer {
	@include flexbox();
	justify-content: center;
	padding: 3vh 0 4vh;
	background-image: url(../images/Footer_Curve.svg);
	background-color: transparent;
	background-size: 101%;
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
	background-position: bottom;
	.flex-container {
		width: 75vw;
		justify-content: space-between;
		.social-links {
			flex-wrap: wrap;
			a {
				i {
					font-size: 1.75vw;
				}
			}
			p {
				width: 100%;
				text-align: center;
			}
		}
	}
}

#bottom-footer {
	@include flexbox();
	padding: 0;
	position: relative;
	z-index: 1;
	margin-top: -1vw;
	.legal {
		@include flexbox();
		align-items: center;
		width: 35%;
		background-color: #122121;
		color: #fff;
		justify-content: flex-end;
		padding: 2vh 0;
		p {
			width: 61%;
			margin: 0 4% 0 0;
			font-weight: bold;
			color: #fff;
		}
	}
	.privacy {
		@include flexbox();
		width: 35%;
		align-items: center;
		padding: 2vh 0;
		#nav_menu-2 {
			padding: 0;
		    max-width: 100%;
		    align-items: center;
		    ul {
		    	list-style-type: none;
	    	    margin: 0;
	    	    padding: 0;
	    	    display: flex;
	    	    align-items: center;
	    	    li {
	    	    	padding: 0 0 0 3vw;
	    	    	a {
	    	    		font-weight: bold;
	    	    		color: #000;
	    	    	}
	    	    }
	    	    li:hover {
	    	    	a {
	    	    		color: #fff;
	    	    	}
	    	    }
		    }
		}
	}
	.copywrite {
		@include flexbox;
		align-items: center;
		padding: 2vh 0;
		p {
			margin: 0;
			font-weight: bold;
			color: #122121;
		}
	}
}

@include respond-below(xs) {
	#news-carousel {
	
		h1 {
			
		}
		.news-carousel {
			width: 70vw;
			margin: auto;
		}
		.container {
			padding: 0;
		}
		.slide-content {
			padding: 0;
			a {
				.news-carousel-title{
					h3 {
						
					}
				}
				.slide-thumbnail {
					
				}
			}
			.read-more {
				span {
					
				}
			}
		}
		.overcontent {
			padding: 0 0 5vh;
		}
	}

	#news-carousel:before {
		
	}

	#top-footer {
		.flex-container {
			.flex-item {
				flex: unset;
				width: 50%;
			}
		}
	}

	#middle-footer {
		padding: 1vh 0 2vh;
		.flex-container {
			justify-content: center;
			#business-hamp-logo {
				order: 1;
				width: auto;
				margin: 0 0 5vh;
			}
			#hamp-cc-logo {
				order: 2;
			    width: auto;
			    margin: 0 0 5vh;
			}
			.social-links {
				order: 3;
			    width: 90vw;
				a {
					i {
						font-size: 8vw;
					    margin: 0 5vw;
					}
				}
				p {
					
				}
			}
		}
	}

	#bottom-footer {
		flex-wrap: wrap;
		.legal {
		    width: 100%;
		    justify-content: center;
		    padding: 2vh 0;
		    p {
		    	width: 60vw;
		    	margin: auto;
		    }
		}
		.privacy {
			width: 100%;
			padding: 2vh 0 1vh;
			justify-content: center;
			#nav_menu-2 {
				ul {
					li {
						padding: 0 4vw;
					}
				}
			}
		}
		.copywrite {
			padding: 1vh 0 2vh;
			justify-content: center;
			margin: auto;
			p {

			}
		}
	}
}

@include respond-between(sm, md) {
	
}

@include respond-between(xs, sm) {
	#middle-footer {
		padding: 1vh 0 2vh;
		.flex-container {
			justify-content: center;
			#business-hamp-logo {
				order: 1;
				width: auto;
				margin: 0 2vw 5vh;
			}
			#hamp-cc-logo {
				order: 2;
			    width: auto;
			    margin: 0 2vw 5vh;
			}
			.social-links {
				order: 3;
			    width: 90vw;
				a {
					i {
						font-size: 4vw;
					    margin: 0 3vw;
					}
				}
				p {
					
				}
			}
		}
	}
	#bottom-footer {
		
		.legal {
		   
		    p {
		    	width: 81%; 	
		    	font-size: 2vw;
		    }
		}
		.privacy {
			align-items: center;
		    padding: 2vh 0;
		    justify-content: center;
			#nav_menu-2 {
				ul {
					align-items: center;
				    flex-direction: column;
					li {
						padding: 0 0 0 0vw;
						margin: 1vh 0;
					}
				}
			}
		}
		.copywrite {
			
			p {

			}
		}
	}
}