header {
	position: relative;
	@include ease(all, 0.25s);
	#header-menu {
		position: absolute;
		top: 0;
		z-index: 10;
		padding: 0;
		width: 75vw;
		transform: translateX(-50%);
		left: 50%;
		#top-bar {
			@include flexbox();
			justify-content: flex-end;
		    margin: 0 0 4vh 0;
			#top-bar-menu {
				#menu-top-bar {
					li {
						width: 8vw;
						text-align: center;
						border: 2px solid;
						@include ease(all, 0.25s);
					}
					li.tb-contact {
						background: #D1D4D4;
						border-color: #D1D4D4;
						a {
							color: #333;
						}
					}
					li.tb-contact:hover {
						background: transparent;
						a {
						}
					}
					li.tb-news {
						background: #F26640;
						border-color: #F26640;
					}
					li.tb-news:hover {
						background: transparent;
						a {
						}
					}
				}
			}
			#ajax-search {
				#ajaxsearchlite1 {
					height: 100%;
					background: transparent;
					.probox {
						height: 100%;
						background: rgba(0,0,0,0.5);
						.promagnifier {
							height: 100%;
							background: transparent;
							border: transparent;
						}
						.proinput {
							@include flexbox();
							align-items: center;
							form {
								height: 100%;
								input {
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
		.header-nav {
			@include flexbox();
			align-items: center;
			#logo_lnk {
				position: absolute;
				width: 30%;
				.logo {
					@include bg_img_contain();
					height: 18vh;
					background-position: left center;
				}
			}
			.header-nav-menu {
				@include flexbox();
				@include ease(all, 0.25s);
				justify-content: flex-end;
				width: 100%;
				li {
					margin: 0 0 0 3vw;
					a {

					}
				}
				.dropdown {
					@include ease(all, 0.25s);
					.dropdown-menu {
						@include ease(all, 0.25s);
						opacity: 0;
						li {
							margin: 0;
							width: 100%;
							a {
								width: 100%;
							    white-space: nowrap;
							}
						}
					}
				}
				.dropdown:hover {
					.dropdown-menu {
						@include flexbox();
						min-width: auto;
					    padding: 0;
					    border: none;
					    border-radius: 0;
					    opacity: 1;
					    background: rgba(0,0,0,0.5);
					    width: auto;
					    margin: 0;
					}
				}
			}
		}
		li {
			padding: 1vh 1vw;
			a {
				color: #fff;
			}
		}
		li.active {
			background-color: #F26640;
		}
		li:hover {
			cursor: pointer;
			background-color: rgba(0,0,0,0.5);
			a {
				text-decoration: none;
			}
		}
	}
	#banner {
		padding: 0;
		#static-banner-image {
			@include bg_img_cover();
			height: 100vh;
			#static-banner-overlay {
				position: absolute;
			    top: 55%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 75vw;
			    h1 {
			    	width: 40%;
			    	line-height: 1.2;
			    	font-size: 7vh;
			    }
			}
		}
		#carouselHeader{
			.carousel-indicators {
				justify-content: flex-end;
				width: 80%;
				bottom: 5%;
				li {
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background-color: transparent;
					border: 2px solid #F26640;
					opacity: 1;
				}
				li.active {
					background-color: #F26640;
				}
			}
		}
		.carousel-item {
			@include bg_img_cover();
			height: 100vh;
			position: relative;
			.slide-overlay {
				position: absolute;
			    top: 55%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 75vw;
			    h1 {
			    	width: 40%;
			    	line-height: 1.2;
			    	font-size: 7vh;
			    }
			}
		}
	}
}
