header {
	position: relative;
	@include ease(all, 0.25s);
	#header-menu {
		position: absolute;
		top: 0;
		z-index: 10;
		padding: 0;
		width: 75vw;
		transform: translateX(-50%);
		left: 50%;
		background: transparent;
		@include ease(all,0.25s);
		#top-bar {
			@include flexbox();
			justify-content: flex-end;
		    margin: 0 0 4vh 0;
			#top-bar-menu {
				#menu-top-bar {
					li {
						width: 8vw;
						text-align: center;
						@include ease(all, 0.25s);
					}
					li.tb-contact {
						background: #D1D4D4;
						border-color: #D1D4D4;
						a {
							color: #333;
						}
					}
					li.tb-contact:hover {
						background: rgba(0,0,0,0.5);
						a {
							color: #fff;
						}
					}
					li.tb-news {
						background: #F26640;
						border-color: #F26640;
					}
					li.tb-news:hover {
						background: rgba(0,0,0,0.5);
						a {
						}
					}
				}
			}
			#ajax-search {
				width: 20vw;
				#ajaxsearchlite1 {
					height: 100%;
					background: transparent;
					.probox {
						height: 100%;
						background: rgba(0,0,0,0.5);
						.promagnifier {
							height: 100%;
							background: transparent;
							border: transparent;
						}
						.proinput {
							@include flexbox();
							align-items: center;
							form {
								height: 100%;
								input {
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
		.header-nav {
			@include flexbox();
			align-items: center;
			width: 75vw;
			margin: auto;
			height: 100%;
			#logo_lnk {
				position: absolute;
				width: 30%;
				.logo {
					@include ease(all,0.25s);
					@include bg_img_contain();
					padding-top: 20%;
					background-position: left center;
				}
			}
			.header-nav-menu {
				@include flexbox();
				@include ease(all, 0.25s);
				justify-content: flex-end;
				width: 100%;
				li {
					margin: 0;
					padding: 1vh 2vw;
					a {

					}
				}
				.dropdown {
					@include ease(all, 0.25s);
					.dropdown-toggle::after {
						display: none;
					}
					.dropdown-menu {
						@include ease(all, 0.25s);
						opacity: 0;
						li {
							margin: 0;
							width: 100%;
							padding: 1vh 3vw;
							a {
								width: 100%;
							    white-space: nowrap;
							}
						}
					}
					.active-dd {
						@include flexbox();
						min-width: auto;
					    padding: 0;
					    border: none;
					    border-radius: 0;
					    opacity: 1;
					    background: rgba(18,33,33,0.9);
					    width: auto;
					    margin: 0;
					}
				}
				// .dropdown:hover {
				// 	.dropdown-menu {
				// 		@include flexbox();
				// 		min-width: auto;
				// 	    padding: 0;
				// 	    border: none;
				// 	    border-radius: 0;
				// 	    opacity: 1;
				// 	    background: rgba(18,33,33,0.9);
				// 	    width: auto;
				// 	    margin: 0;
				// 	}
				// }
			}
		}
		li {
			padding: 1vh 1vw;
			a {
				color: #fff;
			}
		}
		li.active {
			background-color: #F26640;
		}
		li:hover {
			cursor: pointer;
			background-color: rgba(18,33,33,0.9);
			a {
				text-decoration: none;
			}
		}
		li.active:hover {
			background-color: #F26640;
		}
	}
	#banner {
		padding: 0;
		#static-banner-image {
			@include bg_img_cover();
			height: 93vh;
			#static-banner-overlay {
				position: absolute;
			    top: 55%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 75vw;
			    h1 {
			    	width: 40%;
			    	line-height: 1.2;
			    	font-size: 7vh;
			    }
			}
			.scroll-dwn {
				position: absolute;
			    top: 90%;
			    left: 50%;
			    transform: translateX(-50%);
			    color: #fff;
			    letter-spacing: 2px;
			}
		}
		#carouselHeader{
			.carousel-indicators {
				justify-content: flex-end;
				width: 80%;
				bottom: 5%;
				li {
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background-color: transparent;
					border: 2px solid #F26640;
					opacity: 1;
				}
				li.active {
					background-color: #F26640;
					background-clip: border-box;
				}
			}
		}
		.carousel-item {
			@include bg_img_cover();
			height: 93vh;
			position: relative;
			.slide-overlay {
				position: absolute;
			    top: 55%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 75vw;
			    h1 {
			    	width: 40%;
			    	line-height: 1.2;
			    	font-size: 7vh;
			    }
			}
		}
	}
	.letterbox#banner {
		#featpost {
			.static-banner-image {
				height: 30vh;
				#static-banner-overlay {
					display: none;
				}
			}
		}
	}
	.letterbox#banner:after {
		top: 27vh;
	}
	#banner {
		#featpost {
			padding: 0;
			.static-banner-image {
				@include bg_img_cover();
				position: relative;
				height: 93vh;
				#static-banner-overlay {
					position: absolute;
					top: 50%;
					width: 75vw;
					left: 12.5vw;
					transform: translateY(-50%);
					.static_banner_overlay_content {
						color: #fff;
						width: 33.333333%;
						h3 {

						}
						h2 {

						}
						p {

						}
						.read-more {
							@include flexbox();
							align-items: center;
							justify-content: flex-start;
							top: 0;
							position: relative;
							.blue-arrow {
								@include bg_img_contain();
								height: 1vw;
								width: 2vw;
							}
							span {
								// @include ease(all, 0.25s);
								position: relative;
								top: 0;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	#banner:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 90vh;
		height: 10vh;
		width: 110%;
		border-radius: 50%;
		border: 0 solid #f26640;
		border-width: 3vh 0 0 0;
		z-index: 1;
		transform: translateX(-50%);
	}
}

// responsive 

@include respond-below(xs) {
	header {
		
		#header-menu {
			
			#top-bar {
				display: none;
				#top-bar-menu {
					#menu-top-bar {
						li {
							
						}
						li.tb-contact {
							
							a {
								
							}
						}
						li.tb-contact:hover {
							
							a {
								
							}
						}
						li.tb-news {
							
						}
						li.tb-news:hover {
							
							a {
							}
						}
					}
				}
				#ajax-search {
					
					#ajaxsearchlite1 {
						
						.probox {
							
							.promagnifier {
								
							}
							.proinput {
								
								form {
									
									input {
										
									}
								}
							}
						}
					}
				}
			}
			.header-nav {
				display: none;
				#logo_lnk {
					
					.logo {
						
					}
				}
				.header-nav-menu {
				
					li {
						
						a {

						}
					}
					.dropdown {
						
						.dropdown-toggle::after {
							
						}
						.dropdown-menu {
							
							li {
								
								a {
									
								}
							}
						}
					}
					.dropdown:hover {
						.dropdown-menu {
						
						}
					}
				}
			}
			li {
				
				a {
					
				}
			}
			li.active {
				
			}
			li:hover {
				
				a {
					
				}
			}
			li.active:hover {
				
			}
		}
		#banner {
			
			#static-banner-image {
				
				#static-banner-overlay {
					
				    h1 {
				    	
				    }
				}
				.scroll-dwn {
				
				}
			}
			#carouselHeader{
				.carousel-indicators {
					
					li {
					
					}
					li.active {
						
					}
				}
			}
			.carousel-item {
				
				.slide-overlay {
					
				    h1 {
				    	width: 90%;
				    	line-height: 1.1;
				    	font-size: 6vh;
				    	margin: auto;
				    }
				}
			}
		}
		.letterbox#banner {
			#featpost {
				.static-banner-image {
					height: 40vh;
					#static-banner-overlay {
						
					}
				}
			}
		}
		.letterbox#banner:after {
			top: 37vh;
		}
		#banner {
			#featpost {
				
				.static-banner-image {
					
					#static-banner-overlay {
						
						.static_banner_overlay_content {
							width: 95%;
							h3 {

							}
							h2 {

							}
							p {

							}
							.read-more {
								
								.blue-arrow {
									height: 4vw;
									width: 7vw;
								}
								span {
								
								}
							}
						}
					}
				}
			}
		}
		#banner:after {
			
		}
	}
}

@include respond-between(xs, sm) {
	header {
		
		#header-menu {
			
			#top-bar {
				#top-bar-menu {
					#menu-top-bar {
						li {
							
						}
						li.tb-contact {
							
							a {
								
							}
						}
						li.tb-contact:hover {
							
							a {
								
							}
						}
						li.tb-news {
							
						}
						li.tb-news:hover {
							
							a {
							}
						}
					}
				}
				#ajax-search {
					
					#ajaxsearchlite1 {
						
						.probox {
							
							.promagnifier {
								
							}
							.proinput {
								
								form {
									
									input {
										
									}
								}
							}
						}
					}
				}
			}
			.header-nav {
				display: none;
				#logo_lnk {
					
					.logo {
						
					}
				}
				.header-nav-menu {
				
					li {
						
						a {

						}
					}
					.dropdown {
						
						.dropdown-toggle::after {
							
						}
						.dropdown-menu {
							
							li {
								
								a {
									
								}
							}
						}
					}
					.dropdown:hover {
						.dropdown-menu {
						
						}
					}
				}
			}
			li {
				
				a {
					
				}
			}
			li.active {
				
			}
			li:hover {
				
				a {
					
				}
			}
			li.active:hover {
				
			}
		}
		#banner {
			
			#static-banner-image {
				
				#static-banner-overlay {
					
				    h1 {
				    	
				    }
				}
				.scroll-dwn {
				
				}
			}
			#carouselHeader{
				.carousel-indicators {
					
					li {
					
					}
					li.active {
						
					}
				}
			}
			.carousel-item {
				
				.slide-overlay {
					width: 40%;
					left: 35%;
				    h1 {
				    	width: 90%;
				    	line-height: 1.1;
				    	font-size: 6vh;
				    	margin: auto;
				    }
				}
			}
		}
		.letterbox#banner {
			#featpost {
				.static-banner-image {
					height: 40vh;
					#static-banner-overlay {
						
					}
				}
			}
		}
		.letterbox#banner:after {
			top: 37vh;
		}
		#banner {
			#featpost {
				
				.static-banner-image {
					
					#static-banner-overlay {
						
						.static_banner_overlay_content {
							width: 95%;
							h3 {

							}
							h2 {

							}
							p {

							}
							.read-more {
								
								.blue-arrow {
									height: 4vw;
									width: 7vw;
								}
								span {
								
								}
							}
						}
					}
				}
			}
		}
		#banner:after {
			top: 90.5vh
		}
	}
}