header {
	position: relative;
	@include ease(all, 0.25s);
	#header-menu {
		position: absolute;
		top: 0;
		z-index: 10;
		padding: 0;
		width: 75vw;
		transform: translateX(-50%);
		left: 50%;
		background: transparent;
		@include ease(all,0.25s);
		#top-bar {
			@include flexbox();
			justify-content: flex-end;
		    margin: 0 0 4vh 0;
			#top-bar-menu {
				#menu-top-bar {
					height: 100%;
					li {
						width: 8vw;
						text-align: center;
						@include ease(all, 0.25s);
						@include flexbox();
						align-items: center;
						justify-content: center;
					}
					li.tb-contact {
						background: #D1D4D4;
						border-color: #D1D4D4;
						a {
							color: #333;
						}
					}
					li.tb-contact:hover {
						background: rgba(0,0,0,0.5);
						a {
							color: #fff;
						}
					}
					li.tb-news {
						background: #F26640;
						border-color: #F26640;
					}
					li.tb-news:hover {
						background: rgba(0,0,0,0.5);
						a {
						}
					}
				}
			}
			#ajax-search {
				width: 20vw;
				#ajaxsearchpro1_1 {
					height: 100%;
					background: transparent;
					.probox {
						height: 100%;
						background: rgba(0,0,0,0.5);
						align-items: center;
						.promagnifier {
							height: 100%;
							background: transparent;
							border: transparent;
							@include flexbox();
							align-items: center;
						}
						.proinput {
							@include flexbox();
							align-items: center;
							form {
								height: 100%;
								input {
									height: 100%;
									font-size: 1vw;
									padding: 0 !important;
								}
								input.autocomplete {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.header-nav {
			@include flexbox();
			align-items: center;
			width: 75vw;
			margin: auto;
			height: 100%;
			#logo_lnk {
				position: absolute;
				width: 30%;
				.logo {
					@include ease(all,0.25s);
					@include bg_img_contain();
					padding-top: 20%;
					background-position: left center;
				}
			}
			.header-nav-menu {
				@include flexbox();
				@include ease(all, 0.25s);
				justify-content: flex-end;
				width: 100%;
				li {
					margin: 0;
					padding: 1vh 2vw;
					a {

					}
				}
				.dropdown {
					@include ease(all, 0.25s);
					.dropdown-toggle::after {
						display: none;
					}
					.left-menu {
						left: 0;
					}

					.right-menu {
						right: 0;
					}
					.dropdown-menu-custom {
						position: absolute;
					    top: 100%;
					    z-index: 1000;
					    display: none;
					    float: left;
					    min-width: 10rem;
					    padding: .5rem 0;
					    margin: .125rem 0 0;
					    font-size: 1rem;
					    color: #212529;
					    text-align: left;
					    list-style: none;
					    background-color: #fff;
					    background-clip: padding-box;
					    border: 1px solid rgba(0,0,0,.15);
					    border-radius: .25rem;
						@include ease(all, 0.25s);
						opacity: 0;
						li {
							margin: 0;
							width: 100%;
							padding: 1vh 3vw;
							a {
								width: 100%;
							    white-space: nowrap;
							}
						}
					}
					.active-dd {
						@include flexbox();
						min-width: auto;
					    padding: 0;
					    border: none;
					    border-radius: 0;
					    opacity: 1;
					    background: rgba(18,33,33,0.8);
					    width: auto;
					    margin: 0;
					}
				}
				// .dropdown:hover {
				// 	.dropdown-menu {
				// 		@include flexbox();
				// 		min-width: auto;
				// 	    padding: 0;
				// 	    border: none;
				// 	    border-radius: 0;
				// 	    opacity: 1;
				// 	    background: rgba(18,33,33,0.9);
				// 	    width: auto;
				// 	    margin: 0;
				// 	}
				// }
			}
		}
		li {
			padding: 1vh 1vw;
			a {
				color: #fff;
			}
		}
		li.active {
			background-color: #F26640;
		}
		li:hover {
			cursor: pointer;
			background-color: rgba(18,33,33,0.8);
			a {
				text-decoration: none;
			}
		}
		li.active:hover {
			background-color: #F26640;
		}
	}
	.sticky {
		.active-dd {
		    top: calc(100% + 1vh) !important;
		}
	}
	#banner {
		padding: 0;
		#static-banner-image {
			@include bg_img_cover();
			height: 85vh;
			#static-banner-overlay {
				position: absolute;
			    top: 55%;
			    left: 33%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 40%;
			    h1 {
			    	font-size: 4vw;
			    }
			    p {
			    	color: #fff;
			    }
			}
			.scroll-dwn {
				position: absolute;
			    top: 90%;
			    left: 50%;
			    transform: translateX(-50%) rotate(90deg);
			    background-image: url('../images/shevrons/right-white.png');
			    height: 3vw;
		        width: 3vw;
		        background-size: contain;
		        background-repeat: no-repeat;
		        opacity: 0.75;
		        z-index: 10;
		        @include ease(all,0.25s);
			}
			.scroll-dwn:hover{
				opacity: 1;
				cursor: pointer;
			}
		}
		#carouselHeader{
			.carousel-indicators {
				justify-content: flex-end;
				width: 80%;
				bottom: 5%;
				li {
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background-color: transparent;
					border: 2px solid #F26640;
					opacity: 1;
				}
				li.active {
					background-color: #F26640;
					background-clip: border-box;
				}
			}
			.scroll-dwn {
				position: absolute;
			    top: 90%;
			    left: 50%;
			    transform: translateX(-50%) rotate(90deg);
			    background-image: url('../images/shevrons/right-white.png');
			    height: 3vw;
		        width: 3vw;
		        background-repeat: no-repeat;
		        background-size: contain;
		        opacity: 0.75;
		        z-index: 10;
		        @include ease(all,0.25s);
			}
			.scroll-dwn:hover{
				opacity: 1;
				cursor: pointer;
			}
		}
		#carouselHeader.subpage{
			.carousel-item {
				height: 70vh;
				.slide-overlay {
					top: 60%;
				}
			}
		}
		.carousel-item {
			@include bg_img_cover();
			height: 85vh;
			position: relative;
			.slide-overlay {
				position: absolute;
			    top: 55%;
			    left: 35%;
			    transform: translate(-50%,-50%);
			    color: #fff;
			    width: 40%;
			    h1 {
			    	font-size: 4vw;
			    	line-height: 1.2;
			    }
			    p {
			    	color: #fff;
			    }
			}
		}
	}
	.letterbox#banner {
		#featpost {
			#static-banner-image {
				height: 30vh;
				#static-banner-overlay {
					display: none;
				}
			}
		}
		#static-banner-image {
			height: 30vh;
		}
		.scroll-dwn {
			display: none;
		}
	}
	.letterbox#banner:after {
		top: 27vh;
	}
	#banner {
		#featpost {
			padding: 0;
			.static-banner-image {
				@include bg_img_cover();
				position: relative;
				height: 85vh;
				#static-banner-overlay {
					position: absolute;
					top: 60%;
					width: 75vw;
					left: 12.5vw;
					transform: translateY(-50%);
					.static_banner_overlay_content {
						color: #fff;
						width: 33.333333%;
						h3 {

						}
						h2 {

						}
						p {
							color: #fff;
						}
						.read-more {
							@include flexbox();
							align-items: center;
							justify-content: flex-start;
							top: 0;
							position: relative;
							.blue-arrow {
								@include bg_img_contain();
								height: 1vw;
								width: 2vw;
							}
							span {
								// @include ease(all, 0.25s);
								position: relative;
								top: 0;
								color: #fff;
							}
						}
						.read-more:hover {
							span, a {
								color: #F26640;
							}
						}
					}
				}
			}
		}
		#static-banner-image.subpage {
			height: 70vh;
		}
		#featpost.subpage {
			.static-banner-image {
				height: 70vh;
			}
		}
	}
	#banner:after {
		// content: '';
		// position: absolute;
		// left: 50%;
		// top: 90vh;
		// height: 10vh;
		// width: 110%;
		// border-top-left-radius: 50% 1.5vw;
		// border-top-right-radius: 50% 1.5vw;
		// border: 0 solid #f26640;
		// border-width: 3vh 0 0 0;
		// z-index: 1;
		// transform: translateX(-50%);
	}
}

// responsive 

@include respond-below(xs) {
	header {
		
		#header-menu {
			
			#top-bar {
				display: none;
				#top-bar-menu {
					#menu-top-bar {
						li {
							
						}
						li.tb-contact {
							
							a {
								
							}
						}
						li.tb-contact:hover {
							
							a {
								
							}
						}
						li.tb-news {
							
						}
						li.tb-news:hover {
							
							a {
							}
						}
					}
				}
				#ajax-search {
					
					#ajaxsearchlite1 {
						
						.probox {
							
							.promagnifier {
								
							}
							.proinput {
								
								form {
									
									input {
										
									}
								}
							}
						}
					}
				}
			}
			.header-nav {
				display: none;
				#logo_lnk {
					
					.logo {
						
					}
				}
				.header-nav-menu {
				
					li {
						
						a {

						}
					}
					.dropdown {
						
						.dropdown-toggle::after {
							
						}
						.dropdown-menu {
							
							li {
								
								a {
									
								}
							}
						}
					}
					.dropdown:hover {
						.dropdown-menu {
						
						}
					}
				}
			}
			li {
				
				a {
					
				}
			}
			li.active {
				
			}
			li:hover {
				
				a {
					
				}
			}
			li.active:hover {
				
			}
		}
		#header-menu.sticky {
			display: none;
		}
		#banner {
			
			#static-banner-image {
				
				#static-banner-overlay {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
				    h1 {
				    	font-size: 15vw;
				    }
				}
				.scroll-dwn {
					height: 12vw;
				    width: 6vw;
				}
			}
			#carouselHeader{
				.carousel-indicators {
					
					li {
					
					}
					li.active {
						
					}
					.scroll-dwn {
						height: 12vw;
					    width: 6vw;
					}
				}
			}
			.carousel-item {
				
				.slide-overlay {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
					width: 70%;
				    h1 {
				    	width: 90%;
				    	margin: 0 auto 0 0;
				    	font-size: 15vw;
				    }
				}
			}
		}
		.letterbox#banner {
			#featpost {
				.static-banner-image {
					height: 40vh;
					#static-banner-overlay {
						
					}
				}
			}
		}
		.letterbox#banner:after {
			top: 37vh;
		}
		#banner {
			#featpost {
				
				.static-banner-image {
					
					#static-banner-overlay {
						
						.static_banner_overlay_content {
							width: 95%;
							h3 {

							}
							h2 {

							}
							p {

							}
							.read-more {
								
								.blue-arrow {
									height: 4vw;
									width: 7vw;
								}
								span {
								
								}
							}
						}
					}
				}
			}
		}
		#banner:after {
			
		}
	}
}

@include respond-between(xs, sm) {
	header {
		
		#header-menu {
			
			#top-bar {
				#top-bar-menu {
					#menu-top-bar {
						li {
							width: 13vw;
							padding: 1vh 2vw;
						}
						li.tb-contact {
							
							a {
								
							}
						}
						li.tb-contact:hover {
							
							a {
								
							}
						}
						li.tb-news {
							
						}
						li.tb-news:hover {
							
							a {
							}
						}
					}
				}
				#ajax-search {
					
					#ajaxsearchlite1 {
						
						.probox {
							
							.promagnifier {
								
							}
							.proinput {
								
								form {
									
									input {
										
									}
								}
							}
						}
					}
				}
			}
			.header-nav {
				display: none;
				#logo_lnk {
					
					.logo {
						
					}
				}
				.header-nav-menu {
				
					li {
						
						a {

						}
					}
					.dropdown {
						
						.dropdown-toggle::after {
							
						}
						.dropdown-menu {
							
							li {
								
								a {
									
								}
							}
						}
					}
					.dropdown:hover {
						.dropdown-menu {
						
						}
					}
				}
			}
			li {
				
				a {
					
				}
			}
			li.active {
				
			}
			li:hover {
				
				a {
					
				}
			}
			li.active:hover {
				
			}
		}
		#banner {
			
			#static-banner-image {
				
				#static-banner-overlay {
					
				    h1 {
				    	font-size: 4.8vw;
				    }
				}
				.scroll-dwn {
				
				}
			}
			#carouselHeader{
				.carousel-indicators {
					
					li {
					
					}
					li.active {
						
					}
				}
			}
			.carousel-item {
				
				.slide-overlay {
					width: 40%;
					left: 35%;
				    h1 {
				    	width: 90%;
				    	margin: 0 auto 0 0;
				    	font-size: 4.8vw;
				    }
				}
			}
		}
		.letterbox#banner {
			#featpost {
				.static-banner-image {
					height: 40vh;
					#static-banner-overlay {
						
					}
				}
			}
		}
		.letterbox#banner:after {
			top: 37vh;
		}
		#banner {
			#featpost {
				
				.static-banner-image {
					
					#static-banner-overlay {
						
						.static_banner_overlay_content {
							width: 95%;
							h3 {

							}
							h2 {

							}
							p {

							}
							.read-more {
								
								.blue-arrow {
									height: 4vw;
									width: 7vw;
								}
								span {
								
								}
							}
						}
					}
				}
			}
		}
		#banner:after {
			top: 90.5vh
		}
	}
}

@include respond-between(sm, md) {
	header {
		#header-menu {
			width: 80vw;
			.header-nav {
				width: 80vw;
			}
		}
		#header-menu.sticky {
			.header-nav {
				width: 80vw;
			}
		}
	}
}

@include respond-above(lg) {
	header {
		
		#header-menu {
			
			#top-bar {
				#top-bar-menu {
					#menu-top-bar {
						li {
							
						}
						li.tb-contact {
							
							a {
								
							}
						}
						li.tb-contact:hover {
							
							a {
								
							}
						}
						li.tb-news {
							
						}
						li.tb-news:hover {
							
							a {
							}
						}
					}
				}
				#ajax-search {
					
					#ajaxsearchlite1 {
						
						.probox {
							
							.promagnifier {
								
							}
							.proinput {
								
								form {
									
									input {
										
									}
								}
							}
						}
					}
				}
			}
			.header-nav {
				display: none;
				#logo_lnk {
					
					.logo {
						
					}
				}
				.header-nav-menu {
				
					li {
						
						a {

						}
					}
					.dropdown {
						
						.dropdown-toggle::after {
							
						}
						.dropdown-menu {
							
							li {
								
								a {
									
								}
							}
						}
					}
					.dropdown:hover {
						.dropdown-menu {
						
						}
					}
				}
			}
			li {
				
				a {
					
				}
			}
			li.active {
				
			}
			li:hover {
				
				a {
					
				}
			}
			li.active:hover {
				
			}
		}
		#banner {
			
			#static-banner-image {
				
				#static-banner-overlay {
					
				    h1 {
				    }
				}
				.scroll-dwn {
				
				}
			}
			#carouselHeader{
				.carousel-indicators {
					
					li {
					
					}
					li.active {
						
					}
				}
			}
			.carousel-item {
				
				.slide-overlay {
					
				    h1 {
				    	
				    }
				}
			}
		}
		.letterbox#banner {
			#featpost {
				.static-banner-image {
					#static-banner-overlay {
						
					}
				}
			}
		}
		.letterbox#banner:after {
		}
		#banner {
			#featpost {
				
				.static-banner-image {
					
					#static-banner-overlay {
						
						.static_banner_overlay_content {
							h3 {

							}
							h2 {

							}
							p {

							}
							.read-more {
								
								.blue-arrow {
								
								}
								span {
								
								}
							}
						}
					}
				}
			}
		}
		#banner:after {
		}
	}
}