#location-map-wrapper {
	margin: 0 0 8vh;
	#google-maps {
		padding: 0;
		width: 75vw;
		margin: 0 auto 8vh;
		h1 {
			text-align: center;
			margin: 0 0 4vh;
		}
		#gmap {
			height: 90vh;
		}
		.read-more {
			margin: 1vh 0;
		    justify-content: flex-end; 
		    span {
		    	color: #333;
		    }
		}
		.read-more:hover {
			span {
				color: #F26640;
			}
		}
	}
	.text-content-block {
		margin: 6vh auto 5vh;
	}
}

@include respond-between(xs, sm) {
	#location-map-wrapper {
		#google-maps {
			width: 85vw;
			margin: 4vh auto;
			h1 {
				
			}
			#gmap {
				height: 90vh;
			}
			.read-more {
				margin: 1vh 0;
			    justify-content: flex-end; 
			    span {
			    	color: #333;
			    }
			}
		}
	}
}

@include respond-below(xs) {
	#location-map-wrapper {
		.text-content-block {
			margin: 4vh auto 4vh;
		}
		#google-maps {
		    padding: 0;
		    width: 90vw;
		    margin: 0 auto 4vh;
		    #gmap {
		    	height: 50vh;
		    }
		}
	}
	#location_map_top_content {
		.text-content-block {
			margin: 4vh auto 4vh;
		}
		.text-content-title-icon {
			height: 5vh;
		}
	}
}