#news-article, #single-property {
	padding: 0;
	width: 75vw;
	margin: 8vh auto;
	#article-content {
		#article-header {
			margin: 0 0 6vh;
			h1 {

			}
			h3 {
				color: #F26640;
			}
		}
		#news-article-feat-img-container {
			margin: 0 0 4vh;
			.news-article-feat-img {
				@include bg_img_cover();
				padding-top: 50%;
			}
			.news-article-feat-img-caption {
				margin: 1vh 0;
			}
		}
		#article-text {
			margin: 0 0 6vh;
		}
		#article-bottom-bar {
			@include flexbox();
			align-items: center;
		    justify-content: space-between;
			a {
				.read-more {
					.blue-arrow {
					}
					span {
						color: #333;
					}
				}
			}
			a:hover {
				text-decoration: none;
				color: #333;
			}
		}
	}
}

#single-property {
	#article-content {
		#article-header {
			@include flexbox();
			.agent-logo {
				@include bg_img_contain;
				padding-top: 4vh;
				width: 20%;
			}
			.agent-title{
				width: 80%;
			}
		}
	}
}

@include respond-below(xs) {
	#news-article, #single-property {
		width: 90vw;
	    margin: 5vh auto 1vh;
		#article-content {
			#article-header {
				
				h1 {

				}
				h3 {
					
				}
			}
			#news-article-feat-img-container {
				
				.news-article-feat-img {
					padding-top: 70%;
				}
				.news-article-feat-img-caption {
					
				}
			}
			#article-text {
				
			}
			#article-bottom-bar {
				flex-wrap: wrap;
				justify-content: center;
				.article-bottom-bar-left {
					width: 50%;
					order: 1;
					margin: 0 0 3vh;
				}
				.article-bottom-bar-center {
					order: 3;
					margin: 0 0 3vh;
					.social-links {
						a {
							i {
								font-size: 8vw;
								margin: 0 5vw;
							}
						}
					}
				}
				.article-bottom-bar-right {
					width: 50%;
				    order: 2;
				    margin: 0 0 3vh;
				}
				a {
					.read-more {
						.blue-arrow {
						}
						span {
							
						}
					}
				}
				a:hover {
					
				}
			}
		}
	}
	#single-property {
		#article-content {
			#article-header {
				flex-direction: column;
				margin: 0 0 2vh;
				.agent-logo {
					padding-top: 12vh;
					width: 50%;
					background-position: left;
					margin: 0 0 2vh;
				}
				.agent-title{
					width: 100%;
				}
			}
		}
	}
}