#news-article, #single-property {
	padding: 0;
	width: 75vw;
	margin: 8vh auto;
	#article-content {
		#article-header {
			margin: 0 0 6vh;
			h1 {

			}
			h3 {
			}
		}
		#news-article-feat-img-container {
			margin: 0 0 4vh;
			.news-article-feat-img {
				@include bg_img_cover();
				padding-top: 50%;
			}
			.news-article-feat-img-caption {
				margin: 1vh 0;
			}
		}
		#article-text {
			margin: 0 0 6vh;
			a{
				color: #002EB5;
				font-weight: 500;
				font-size: inherit;
			}
			a:hover {
				color: #F26640;
			}
			code {
				a {
					position: relative;
					@include flexbox();
					align-items: center;
					color: #122121;
					width: fit-content;
				    font-weight: 500;
				}
				a:before {
					content: ' ';
					background-image: url('../images/blue arrow.svg');
					height: 1.5vw;
				    width: 2vw;
				    margin: 0 1vw 0 0;
				    background-size: contain;
				    position: relative;
				    background-repeat: no-repeat;
				    display: inline-block;
				}
			}
			img {
				width: auto;
				height: auto;
				max-width: 100%;
			}
			#post-gallery {
				margin: 2vh auto;
			}
		}
		#article-bottom-bar {
			@include flexbox();
			align-items: center;
		    justify-content: space-between;
			a {
				@include ease(all, 0.25s);
				.read-more {
					.blue-arrow {
					}
					span {
						@include ease(all, 0.25s);
						color: #404D4D;
					}
				}
			}
			a:hover {
				text-decoration: none;
				.read-more {
					.blue-arrow {
					}
					span {
						color: $orange;
					}
				}
			}
		}
	}
}

#single-property {
	#article-content {
		#article-header {
			@include flexbox();
			justify-content: flex-start;
			.agent-logos {
				width: auto;
			    display: flex;
			    justify-content: space-between;
				.agent-logo {
					@include bg_img_contain;
					padding-top: 40%;
					width: 10vw;
					margin: 0 2vw 0 0;
				}
			}
			.no-logos {
				display: none !important;
			}
			.agent-title{
				width: 68%;
			}
		}
		#article-bottom-bar {
			justify-content: space-between;
		    flex-direction: row-reverse;
		}
	}
}

@include respond-below(xs) {
	#news-article, #single-property {
		width: 90vw;
	    margin: 5vh auto 1vh;
		#article-content {
			#article-header {
				
				h1 {

				}
				h3 {
					
				}
			}
			#news-article-feat-img-container {
				
				.news-article-feat-img {
					padding-top: 70%;
				}
				.news-article-feat-img-caption {
					
				}
			}
			#article-text {
				img {
					width: 90vw;
				}
			}
			#article-bottom-bar {
				flex-wrap: wrap;
				justify-content: center;
				.article-bottom-bar-left {
					width: 50%;
					order: 1;
					margin: 0 0 3vh;
				}
				.article-bottom-bar-center {
					order: 3;
					margin: 0 0 3vh;
					.social-links {
						a {
							i {
								font-size: 8vw;
								margin: 0 5vw;
							}
						}
					}
				}
				.article-bottom-bar-right {
					width: 50%;
				    order: 2;
				    margin: 0 0 3vh;
				}
				a {
					.read-more {
						.blue-arrow {
						}
						span {
							
						}
					}
				}
				a:hover {
					
				}
			}
		}
	}
	#single-property {
		#article-content {
			#article-header {
				flex-direction: column;
				margin: 0 0 2vh;
				.agent-logo {
					padding-top: 12vh;
					width: 50%;
					background-position: left;
					margin: 0 0 2vh;
				}
				.agent-title{
					width: 100%;
				}
			}
			#article-bottom-bar {
				flex-wrap: nowrap;
				.article-bottom-bar-center {
					order: 1;
				}
			}
		}
	}
}