#our-stories {
	padding: 0;
	margin: 0 0 12vh;
	.stories-carousel {
		margin: auto;
		.slide-content {
			a {
				
				.wdg-container {
					@include ease(all,0.25s);
					@include bg_img_cover();
					position: relative;
					overflow: hidden;
					@include flexbox();
					justify-content: center;
					align-items: center;
					.color-overlay {
						@include overlay_cover();
						background-color: #F26640;
						opacity: 0;
						z-index: 9;
					}
					.wdg-overlay {
						@include overlay_center();
						@include ease(all, 0.25s);
						color: #fff;
						width: 80%;
						text-align: center;
						z-index: 10;
						pointer-events:none;
						height: 100%;
						@include flexbox();
						align-items: center;
						justify-content: center;
						// text-shadow: 0px 7px 5px #3e3e3c;
						.wdg-overlay-title {
							width: 100%;
							h2 {
								// @include ease(all, 0.25s);
								position: relative;
								color: #fff;
								// text-shadow: 0px 7px 5px #3e3e3c;
							}
							.read-more {
								@include flexbox();
								align-items: center;
								justify-content: center;
								margin: 0 auto;
								.blue-arrow {
									@include bg_img_contain();
									height: 1vw;
									width: 2vw;
								}
								span {
									// @include ease(all, 0.25s);
									position: relative;
									top: 0;
									color: #fff;
								}
							}
						}
						
						p {
							@include overlay_center();
							color: #fff;
							width: 100%;
							opacity: 0;
							top: 55%;
							width: 75%;
							// text-shadow: 0px 7px 5px #3e3e3c;
						}
					}
				}
				.wdg-container:hover {
					cursor: pointer;
					.wdg-overlay {
						h2 {
							text-decoration: none;
						}
						p {
							text-decoration: none;
						}
						a {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@include respond-below(xs) {
	#our-stories {
		
		.stories-carousel {
			width: 75vw;
			margin: auto;
			.slide-content {
				padding: 0;
				a {
					
					.wdg-container {
						
						.color-overlay {
							
						}
						.wdg-overlay {
							
							h2 {
								
							}
							p {
								
							}
							.read-more {
								
								.blue-arrow {
									
								}
								span {
									
								}
							}
						}
					}
					.wdg-container:hover {
						.wdg-overlay {
							h2 {
							}
							p {
							}
							a {
							}
						}
					}
				}
			}
		}
		.slick-dots {
			bottom: -40px;
		}
		.slick-dots li button:before {
			font-size: 4vw;
		}
	}
}

@include respond-between(xs, sm) {
	#our-stories {
		
		.stories-carousel {
			width: 80vw;
			.slide-content {
				a {
					
					.wdg-container {
						
						.color-overlay {
							
						}
						.wdg-overlay {
							width: 90%;
							.wdg-overlay-title {
								
								h2 {
									
								}
								.read-more {
									
									.blue-arrow {
										
									}
									span {
										
									}
								}
							}
							
							p {
								
							}
						}
					}
					.wdg-container:hover {
						
						.wdg-overlay {
							h2 {
								
							}
							p {
							}
							a {
							}
						}
					}
				}
			}
		}
	}
}