#post-gallery {
	.main-image-gallery {
		.slide {
			.slide-img {
				@include bg_img_contain();
				padding-top: 50%;
			}
			.slide-img:hover {
				cursor: pointer;
			}
		}
	}
	.nav-main-image-gallery {
		width: 80%;
		margin: 4vh auto;
		.slide {
			.slide-img {
				@include bg_img_cover();
				padding-top: 50%;
				width: 95%;
			}
			.slide-img:hover {
				cursor: pointer;
			}
		}
	}
}

@include respond-below(xs) {
	#post-gallery {
		.main-image-gallery {
			.slide {
				.slide-img {
					padding-top: 65%;
				}
				.slide-img:hover {
				}
			}
		}
		.nav-main-image-gallery {
			
			.slide {
				.slide-img {
					padding-top: 65%;
				}
				.slide-img:hover {
				}
			}
		}
	}
}