#header-menu.sticky {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
    background: rgba(18,33,33,0.9);
    @include ease(all,0.25s);
    padding: 1vh 0;
	#top-bar {
		display: none;
	}
	.header-nav {
		width: 75vw;
		margin: auto;
		height: 100%;
		#logo_lnk {
			position: relative;
			.logo {
				padding-top: 15%;
			}
		}
	}
}