#story_wdg_wide {
	.wdg-container {
		overflow: hidden;
	    .wdg-overlay {
	    	pointer-events: none;
			// text-shadow: 0px 7px 5px #3e3e3c;
	    	.read-more {
	    		margin: auto;
	    	}
	    }
	}
}