$blue : #70D9F5;
$orange : #F26640;

.container-width {
	width: 75vw;
}

html, body {
	overflow-x: hidden;
}

a {
	@include ease(all, 0.25s);
}

a:hover {
	text-decoration: none;
}

div:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, a:focus {
	outline: none;
}

div:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, a:active {
	outline: none;
}

.dimmed {
	position: relative;
}

.dimmed:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.25))
}

.read-more {
	@include flexbox();
	align-items: center;
	justify-content: flex-start;
	top: 0;
	position: relative;
	width: fit-content;
	.blue-arrow {
		background-image: url('../images/blue-arrow.png');
		@include bg_img_contain();
		height: 1vw;
		width: 2vw;
	}
	span {
		// @include ease(all, 0.25s);
		position: relative;
		top: 0;
		color: #fff;
	}
}

.intro-padding {
	margin-top: 4vh;
}

.page-header {
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.email-icon {
	background-image: url('../images/email-icon.png');
	@include bg_img_contain();
	height: 2vw;
    width: 2vw;
    align-items: center;
}

.social-links {
	@include flexbox();
	align-items: center;
	justify-content: center;
	a {
		color: #333;
		@include flexbox();
		align-items: center;
		i {
			font-size: 1.5vw;
			margin: 0 1.5vw;
		}
	}
	a:hover {
		i {
			color: $orange;
		}
	}
}

.carousel-control-next-icon {
	background-image: url('../images/shevrons/right-white.png');
	height: 4vw;
	width: 2.5vw;
}

.carousel-control-prev-icon {
	background-image: url('../images/shevrons/left-white.png');
	height: 4vw;
	width: 2.5vw;
}
// ======================================
// text content blocks
// ======================================

.text-content-block {
	padding: 0;
    width: 75vw;
    margin: 0 auto 12vh;
	.title {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 2vh;
		.text-content-title-icon {
			@include bg_img_contain;
			height: 7vh;
			width: 5vw;
			background-position: left;
		}
		h2 {
			margin: 0;
		}
	}
	.text-content {

	}
}

#location_map_top_content {
	.text-content-title-icon {
		height: 7vh;
	}
}

// ======================================
// text content blocks end
// ====================================== 

// ======================================
	// Title
// ======================================

.page-title {
	width: 75vw;
	text-align: center;
	margin: 8vh auto;
}

.in-page-title {
	width: 75vw;
	text-align: center;
	margin: 4vh auto;
}

// ======================================
	// Title end
// ======================================

// ======================================
	// Page Content
// ======================================

#page_content {
	padding: 0;
	width: 60vw;
	margin: 7vh auto 11vh;
	h3 {
		color: #70D9F5;
		margin: 0 0 2vh;
	}
	code {
		a {
			position: relative;
			@include flexbox();
			align-items: center;
			color: #122121;
			width: fit-content;
		    font-weight: 500;
		}
		a:before {
			content: ' ';
			background-image: url('../images/blue-arrow.png');
			height: 1.5vw;
		    width: 2vw;
		    margin: 0 1vw 0 0;
		    background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    display: inline-block;
		}
	}
	a{
		color: #002EB5;
		font-weight: 500;
	}
	a:hover {
		color: #F26640;
	}
}

// ======================================
	// Page Content end
// ======================================

// ======================================
	// shiftnav hacks
// ======================================
#shiftnav-main {
	#logo_lnk {
		.logo {
			@include bg_img_contain();
			padding-top: 20%;
			background-position: center;
		}
	}
	.sub-menu {
		li {
			a {
				padding: 1vh 15%;
			}
		}
	}
}

// ======================================
	// shiftnav hacks end
// ======================================

#top-anch {
	position: relative;
}

@include respond-below(xs) {
	p, a, label {
		font-size: 4vw;
	}

	h1 {
		font-size: 7vw;
	}

	h2 {
		font-size: 6vw;
	}

	h3 {
		font-size: 5vw;
	}

	h4 {
		font-size: 4vw;
	}

	h5 {
		font-size: 4vw;
	}

	.read-more {
		.blue-arrow {
			height: 4vw;
		    width: 7vw;
		    margin: 0 2vw 0 0;
		}
		span {
		}
	}
	.carousel-control-next-icon {
		height: 9vw;
		width: 7.5vw;
	}

	.carousel-control-prev-icon {
		height: 9vw;
		width: 7.5vw;
	}

	#page_content {
		width: 80vw;
		h3 {
		}
	}
}

@include respond-between(xs, sm) {
	.container-width {
		width: 85vw;
	}

	p, a, label {
		font-size: 2vw;
	}

	#page_content {
		width: 65vw;
		h3 {
		}
	}

	.text-content-block {
		
		.title {
			
			.text-content-title-icon {
				margin: 0 1vw 0 0;
			}
			h2 {
			}
		}
		.text-content {

		}
	}
}

// curves
.blue-curve {
	background-image: url('../images/Curve blue below.svg');
    left: 50%;
    padding-top: 1vw;
    position: absolute;
    width: 101vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    background-position: center;
    transform: translateX(-50%);
}

.orange-curve {
	background-image: url('../images/Curve red below.svg');
	left: 50%;
	padding-top: 1vw;
	position: absolute;
	width: 101vw;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	background-position: bottom center;
	transform: translateX(-50%);
}

.grey-curve {
	background-image: url('../images/Curve white above.svg');
	left: 0;
    padding-top: 1vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    margin: 0 0 5vh;
}

.top-curve {
}

.bottom-curve {
}

// images on posts the content
.aligncenter {
	margin: auto;
}

.alignleft {
	margin: auto auto auto 0;
}

.alignright {
	margin: auto 0 auto auto;
}

