$blue : #70D9F5;
$orange : #F26640;

.container-width {
	width: 75vw;
	padding: 0;
}

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	@include ease(all, 0.25s);
}

a:hover {
	text-decoration: none;
	color: #F26640;
}

div:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, a:focus {
	outline: none;
}

div:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, a:active {
	outline: none;
}

#preLoader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #404D4D;
	z-index: 1000;
	@include flexbox();
	align-items: center;
	justify-content: center;
	opacity: 1;
	.logo {
		background-image: url('../images/HAM001-logoRGB-icononly.png');
		@include bg_img_contain();
		padding: 4vw;
	    transform: rotateY(0deg);
	    width: auto;
	}	
}

.spin {
	animation-name: spin;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.dimmed {
	position: relative;
}

.dimmed:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.25))
}

.read-more {
	@include flexbox();
	align-items: center;
	justify-content: flex-start;
	top: 0;
	position: relative;
	width: fit-content;
	.blue-arrow {
		background-image: url('../images/blue arrow.svg');
		@include bg_img_contain();
		height: 1vw;
		width: 2vw;
	}
	span {
		// @include ease(all, 0.25s);
		position: relative;
		top: 0;
		color: #fff;
	}
}

.read-more:hover {
	span, a {
		color: #F26640;
	}
}

.wp-caption {
	width: 100%;
}

.intro-padding {
	margin-top: 4vh;
}

.page-header {
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.email-icon {
	background-image: url('../images/email-icon.png');
	@include bg_img_contain();
	height: 2vw;
    width: 2vw;
    align-items: center;
}

.social-links {
	@include flexbox();
	align-items: center;
	justify-content: center;
	a {
		color: #333;
		@include flexbox();
		align-items: center;
		i {
			@include ease(all, 0.25s);
			font-size: 1.5vw;
			margin: 0 1.5vw;
		}
	}
	a:hover {
		i {
			color: $orange;
		}
	}
}

.carousel-control-next-icon {
	background-image: url('../images/shevrons/right-white.png');
	height: 4vw;
	width: 2.5vw;
}

.carousel-control-prev-icon {
	background-image: url('../images/shevrons/left-white.png');
	height: 4vw;
	width: 2.5vw;
}
// ======================================
// text content blocks
// ======================================

.text-content-block {
	padding: 0;
    width: 75vw;
    margin: 6vh auto;
	.title {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 2vh;
		.text-content-title-icon {
			@include bg_img_contain;
			height: 5vh;
			width: 3vw;
			background-position: left;
			margin: 0 2vw 0 0;
		}
		h2 {
			margin: 0;
		}
	}
	.text-content {
		a {
			color: #002EB5;
			font-weight: 500;
			@include ease(all,0.25);
		}
		a:hover {
			color: #F26640
		}
	}
}

#location_map_top_content {
	.text-content-title-icon {
		height: 7vh;
	}
}

// ======================================
// text content blocks end
// ====================================== 

// ======================================
	// Title
// ======================================

.page-title {
	width: 75vw;
	text-align: center;
	margin: 8vh auto;
}

.in-page-title {
	width: 75vw;
	text-align: center;
	margin: 4vh auto;
}

// ======================================
	// Title end
// ======================================

// ======================================
	// Page Content
// ======================================

#page_content {
	padding: 0;
	width: 60vw;
	margin: 7vh auto 11vh;
	h3 {
		color: #70D9F5;
		margin: 0 0 2vh;
	}
	code {
		a {
			position: relative;
			@include flexbox();
			align-items: center;
			color: #404D4D;
			width: fit-content;
		    font-weight: 500;
		}
		a:before {
			content: ' ';
			background-image: url('../images/blue arrow.svg');
			height: 1.5vw;
		    width: 2vw;
		    margin: 0 1vw 0 0;
		    background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    display: inline-block;
		}
	}
	a{
		color: #002EB5;
		font-weight: 500;
		font-size: inherit;
	}
	a:hover {
		color: #F26640;
	}
	img {
		max-width: 100%;
		height: auto;
		padding: 1vh 0 2vh;
	}
	a {
		span {
			strong {
				color: #404D4D;
			}
		}
	}
}

// ======================================
	// Page Content end
// ======================================

// ======================================
	// shiftnav hacks
// ======================================
#shiftnav-main {
	#logo_lnk {
		.logo {
			@include bg_img_contain();
			padding-top: 20%;
			background-position: center;
		}
	}
	.sub-menu {
		li {
			a {
				padding: 1vh 15%;
			}
		}
	}
}
.shiftnav.shiftnav-skin-standard-dark ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target {
	background: $orange !important;
}


// ======================================
	// shiftnav hacks end
// ======================================

// ======================================
	// checkbox custom
// ======================================
.checkboxG4 {
	.wpcf7-list-item {
		margin: 1vh 0 0 3vw;
	}
}

.checkmark:hover {
	cursor: pointer;
}

.checkmark {
	.fa-check {
		opacity: 0;
		font-size: 2vw;
	}
}

.checkbox-active {
	position: relative;
	.fa-check {
		opacity: 1;
	}
}

.checkbox-active:before {
	
}

// ======================================
	// check box custom end
// ======================================

// curves
.blue-curve {
	background-image: url('../images/Curve blue below.svg');
    left: 50%;
    padding-top: 1vw;
    position: absolute;
    width: 101vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    background-position: center;
    transform: translateX(-50%);
}

.orange-curve {
	background-image: url('../images/Curve red below.svg');
	left: 50%;
	padding-top: 1vw;
	position: absolute;
	width: 101vw;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	background-position: bottom center;
	transform: translateX(-50%);
}

.grey-curve {
	background-image: url('../images/Curve white above.svg');
	left: 0;
    padding-top: 1vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    margin: 0 0 5vh;
    background-position: center;
}

.white-curve {
	background-image: url('../images/Curve white above.svg');
	left: 50%;
	padding-top: 1vw;
	position: absolute;
	width: 101vw;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	background-position: bottom center;
	transform: translateX(-50%);
}

.top-curve {
}

.bottom-curve {
}

// images on posts the content
.aligncenter {
	margin: auto;
}

.alignleft {
	margin: auto auto auto 0;
}

.alignright {
	margin: auto 0 auto auto;
}

// slick dots
.slick-dots {
	margin: 2vh auto;
}


#top-anch {
	position: relative;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
	font-size: 1.2vw;
	color: red;
	border: none;
	text-align: right;
}

span.wpcf7-not-valid-tip {
	font-size: 1.2vw;
	color: red;
	border: none;
	text-align: right;
}

div.wpcf7-validation-errors {
	margin: -4vh 0 5vh;
}

div.wpcf7-mail-sent-ok {
	margin: -4vh 0 5vh;
	font-size: 1.2vw;
	color: #404D4D;
	border: none;
	text-align: right;
}

// iframe proepert stuff
.property-iframe {
	width: 75vw;
	margin: auto;
}

@include respond-below(xs) {
	.container-width {
		width: 90vw;
	}

	p, a, label {
		font-size: 4vw;
	}

	h1 {
		font-size: 7vw;
	}

	h2 {
		font-size: 6vw;
	}

	h3 {
		font-size: 5vw;
	}

	h4 {
		font-size: 4vw;
	}

	h5 {
		font-size: 4vw;
	}

	.read-more {
		.blue-arrow {
			height: 4vw !important;
		    width: 7vw !important;
		    margin: 0 2vw 0 0;
		}
		span {
		}
	}
	.carousel-control-next-icon {
		height: 9vw;
		width: 7.5vw;
	}

	.carousel-control-prev-icon {
		height: 9vw;
		width: 7.5vw;
	}

	#page_content {
		width: 90vw;
		h3 {
		}
	}

	.text-content-block {
		
		.title {
			
			.text-content-title-icon {
				margin: 0 2vw 0 0;
				height: 5vh;
				width: 15vw;
			
			}
			h2 {
				
			}
		}
		.text-content {

		}
	}
}

.hamburger-bg{
	position: fixed;
	background: transparent;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
}

@include respond-between(xs, sm) {
	.container-width {
		width: 85vw;
	}

	p, a, label {
		font-size: 2vw;
	}

	.read-more {
		.blue-arrow {
			height: 2vw !important;
		    width: 2vw !important;
		    margin: 0 1vw 0 0;
		}
		span {
		}
	}

	#page_content {
		width: 65vw;
		h3 {
		}
	}

	.text-content-block {
		
		.title {
			
			.text-content-title-icon {
				margin: 0 1vw 0 0;
			}
			h2 {
			}
		}
		.text-content {

		}
	}
	// curves
	.blue-curve {
	    padding-top: 1.5vw;
	}

	.orange-curve {
	    padding-top: 1.5vw;
		
	}

	.grey-curve {
	    padding-top: 1.5vw;
		
	}

	.white-curve {
	    padding-top: 1.5vw;
		
	}

	.social-links {
		
		a {
			
			i {
				font-size: 2vw;
				
			}
		}
		a:hover {
			i {
				
			}
		}
	}

	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
		font-size: 2vw;
		
	}

	span.wpcf7-not-valid-tip {
		font-size: 2vw;
	}

	div.wpcf7-validation-errors {
	}

	div.wpcf7-mail-sent-ok {
		font-size: 2vw;
	}
}

@include respond-below(xs) {
	#preLoader {
		.logo {
			padding: 12vw;
		}
	}

	#page_content {
		margin: 4vh auto 4vh;
		code {
			a:before {
				height: 5vw;
			    width: 12vw;
			}
		}
	}
	.page-title {
		width: 75vw;
		text-align: center;
		margin: 4vh auto;
	}

	.in-page-title {
		width: 90vw;
		text-align: center;
		margin: 4vh auto;
	}

	.text-content-block {
	    margin: 5vh auto 5vh;
		.title {
			
			.text-content-title-icon {
				
			}
			h2 {
				
			}
		}
		.text-content {

		}
	}
	.checkmark {
		.fa-check {
			font-size: 4vw;
		}
	}
	// curves
	.blue-curve {
	    padding-top: 2vw;
	}

	.orange-curve {
	    padding-top: 2vw;
		
	}

	.grey-curve {
	    padding-top: 2vw;
		
	}

	.white-curve {
	    padding-top: 2vw;
		
	}
	.slick-prev:before, .slick-next:before {
		width: 8vw !important;
		height: 8vw !important;
	}

	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
		font-size: 4vw;
		
	}

	span.wpcf7-not-valid-tip {
		font-size: 4vw;
	}

	div.wpcf7-validation-errors {
	}

	div.wpcf7-mail-sent-ok {
		font-size: 4vw;
	}
}

@include respond-between(sm, md) {
	.container-width {
		width: 80vw;
	}
	#page_content {
		width: 70vw;
	}
}
