$blue : #70D9F5;
$orange : #F26640;

.container-width {
	width: 75vw;
}

html, body {
	overflow-x: hidden;
}

a:hover {
	text-decoration: none;
}

div:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, span:focus, a:focus {
	outline: none;
}

div:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, span:active, a:active {
	outline: none;
}

p, a, label {
	font-size: 1.2vw;
}

.dimmed {
	position: relative;
}

.dimmed:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3))
}

.read-more {
	@include flexbox();
	align-items: center;
	justify-content: flex-start;
	top: 0;
	position: relative;
	.blue-arrow {
		background-image: url('../images/blue-arrow.png');
		@include bg_img_contain();
		height: 1vw;
		width: 2vw;
	}
	span {
		// @include ease(all, 0.25s);
		position: relative;
		top: 0;
		color: #fff;
	}
}

.intro-padding {
	margin-top: 4vh;
}

.page-header {
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.email-icon {
	background-image: url('../images/email-icon.png');
	@include bg_img_contain();
	height: 2vw;
    width: 2vw;
    align-items: center;
}

.social-links {
	@include flexbox();
	align-items: center;
	justify-content: center;
	a {
		color: #333;
		@include flexbox();
		align-items: center;
		i {
			font-size: 1.5vw;
			margin: 0 1.5vw;
		}
	}
	a:hover {
		i {
			color: $orange;
		}
	}
}

.carousel-control-next-icon {
	background-image: url('../images/shevrons/right-white.png');
	height: 4vw;
	width: 2.5vw;
}

.carousel-control-prev-icon {
	background-image: url('../images/shevrons/left-white.png');
	height: 4vw;
	width: 2.5vw;
}
// ======================================
// text content blocks
// ======================================

.text-content-block {
	padding: 0;
    width: 75vw;
    margin: 0 auto 12vh;
	.title {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 2vh;
		.text-content-title-icon {
			@include bg_img_contain;
			height: 4vh;
			width: 4vw;
			background-position: left;
		}
		h2 {
			margin: 0;
		}
	}
	.text-content {

	}
}

// ======================================
// text content blocks end
// ====================================== 

// ======================================
	// Title
// ======================================

.page-title {
	width: 75vw;
	text-align: center;
	margin: 8vh auto;
}

// ======================================
	// Title end
// ======================================

@include respond-below(xs) {
	.read-more {
		.blue-arrow {
			height: 4vw;
		    width: 7vw;
		    margin: 0 2vw 0 0;
		}
		span {
		}
	}
	.carousel-control-next-icon {
		height: 9vw;
		width: 7.5vw;
	}

	.carousel-control-prev-icon {
		height: 9vw;
		width: 7.5vw;
	}
}