#wdgt_block {
	position: relative;
	padding: 7.5vh 0;
	color: #fff;
	@include bg_img_cover();
	h1 {
		width: 100%;
		text-align: center;
		margin: 0 0 7vh;
	}
	.widget-container {
		@include flexbox();
		margin: auto;
		.widget {
			text-align: center;
			padding: 0 3vw;
			height: 100%;
			.widget-icon {
				@include bg_img_contain();
				padding-top: 30%;
			    margin: 0 0 2vh;
			}
			.widget-text {

			}
		}
		.three_wdg{
			width: 33.333333%;
		}
		.four_wdg {
			width: 25%;
		}
		.five_wdg {
			width: 20%;
		}
	}
}